<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style dashboard_aluno.css') }}">
</head>
<body>
    <header class="cabecalho">
        <div class="cima">
            <div class="cima1">
                <a href="/Dashboard_Aluno" style="text-decoration: none;"><button class="normal"><img src="/static/img/logo.png" style="width: 197px; height: 100px;"></button></a>
            </div>
            <div class="cima2">
                <a href="/Perfil_Aluno">
                    <button class="normal"><img src="/static/img/perfil.png" height="70px" width="70px" style="margin-top: 10px;"></button>
                </a>
            </div>
        </div>
    </header>

    <div class="fundo">
        
        <div class="inicio">
            <h1>BEM VINDO USUÀRIO</h1>
        </div>
        <div class="opcoes">
                <div class="bloco">
                    <a href="/Refeicoes_alunos" style="text-decoration: none;"><button>
                        <div class="texto" >
                            <h1>CARDÁPIO</h1>
                        </div>
                    <input type="button" value="">
                </button></a>
                </div>
                <div class="bloco">
                    <a href="/historico_de_desperdicio_alunos" style="text-decoration: none;"><button >
                        <div class="texto" >
                    <h1>DESPERDÍCIO</h1>
                </div>
                    <input type="button" value="">
                </button></a>
                </div>
                
        </div>
    </div>
</body>
</html>