<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desperdício da Semana</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nutricionistadesperdicios.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <header class="cabecalho">
        <div class="cima">
            <div class="cima1">
                <a href="Dashboard.html" style="text-decoration: none;"><button class="normal"><img src="/assests/logo.png" style="width: 197px; height: 100px;"></button></a>
            </div>
            <div class="cima2">
                <a href="Perfil_Aluno.html">
                    <button class="normal"><img src="/assests/perfil.png" height="70px" width="70px" style="margin-top: 10px;"></button>
                </a>
            </div>
        </div>
    </header>
    <div class="titulo">
        <a href="/Dashboard.html" style="text-decoration: none;">
            <button class="botao" style="background-image: url('/assests/Seta\ esquerda.svg'); cursor: pointer; margin-left: 20px;"></button>
        </a>
        <div class="tituloMeio">
            <h1>HISTÓRICO DE DESPERDÍCIO</h1>
        </div>
    </div>
    
    <div class="conteudo">
        <div class="texto">
            <button class="botao" style="background-image: url('/assests/Seta\ esquerda.svg'); margin-left: 19px; cursor: pointer;"></button>
            <h1>DESPERDÍCIO DA SEMANA</h1>
            <button class="botao" style="background-image: url('/assests/Seta\ direita.svg');margin-right: -4px; cursor: pointer;"></button>
            
        </div>
        <div class="informacoes">
            <div class="bloco">
                <h1>SEGUNDA</h1>
                <div class="blocoEs">
                    <input type="text" class="Desper_Input" id="segunda">
                </div>
            </div>
            <div class="bloco">
                <h1>TERÇA</h1>
                <div class="blocoEs">
                    <input type="text" class="Desper_Input" id="terca">
                </div>
            </div>
            <div class="bloco">
                <h1>QUARTA</h1>
                <div class="blocoEs">
                    <input type="text" class="Desper_Input" id="quarta">
                </div>
            </div>
            <div class="bloco">
                <h1>QUINTA</h1>
                <div class="blocoEs">
                    <input type="text" class="Desper_Input" id="quinta">
                </div>
            </div>
            <div class="bloco">
                <h1>SEXTA</h1>
                <div class="blocoEs">
                    <input type="text" class="Desper_Input" id="sexta">
                </div>
            </div>
        </div>
        <div class="final_Button">
            <input id="enviar" class="button_fim" type="submit" value="ENVIAR">
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>