<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DESPEDICIO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style desperdicio.css') }}">
</head>
<body>
    <header class="cabecalho">
        <div class="cima">
            <div class="cima1">
                <a href="/Dashboard_Aluno" style="text-decoration: none;"><button class="normal"><img src="/static/img/logo.png" style="width: 197px; height: 100px;"></button></a>
            </div>
            <div class="cima2">
                <a href="/Perfil_Aluno">
                    <button class="normal"><img src="/static/img/perfil.png" height="70px" width="70px" style="margin-top: 10px;"></button>
                </a>
            </div>
        </div>
    </header>


    <div class="titulo">
        <a href="/Dashboard_Aluno" style="text-decoration: none;">
            <button class="botao" style="background-image: url('/static/img/Seta\ esquerda.svg'); cursor: pointer; margin-left: 20px;"></button></a>
        <div class="tituloMeio">
            <h1>HISTÓRICO DE DESPERDÍCIO</h1>
        </div>
    </div>
    

    <div class="conteudo">
        <div class="texto">
            <button class="botao" style="background-image: url('/static/img/Seta\ esquerda.svg'); margin-left: 19px; cursor: pointer;"></button>
            <h1>DESPERDÍCIO DA SEMANA</h1>
            <button class="botao" style="background-image: url('/static/img/Seta\ direita.svg');margin-right: -4px; cursor: pointer;"></button>
            
        </div>
        
        <div class="informacoes">

            <div class="bloco">
                <h1>SEGUNDA</h1>
                <div class="blocoEs">
                    <h1>5 KG</h1>
                </div>
            </div>
            <div class="bloco">
                <h1>TERÇA</h1>
                <div class="blocoEs">
                    <h1>5 KG</h1>
                </div>
            </div>
            <div class="bloco">
                <h1>QUARTA</h1>
                <div class="blocoEs">
                    <h1>5 KG</h1>
                </div>
            </div>
            <div class="bloco">
                <h1>QUINTA</h1>
                <div class="blocoEs">
                    <h1>5 KG</h1>
                </div>
            </div>
            <div class="bloco">
                <h1>SEXTA</h1>
                <div class="blocoEs">
                    <h1>5 KG</h1>
                </div>
            </div>
        </div>
        <div class="detalhe">
            <h1>TOTAL DO DISPERDICIO NA SEMANA: 25KG</h1>
        </div>
    </div>
    
</body>
</html>