<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Perfil.css') }}">
    <title>Perfil Nutricionista</title>
</head>
<body>
    <header class="cabecalho">
        <div class="cima">
            <div class="cima1">
                <a href="/Dashboard" style="text-decoration: none;"><button class="normal"><img src="/static/img/logo.png" style="width: 197px; height: 100px;"></button></a>
            </div>
        </div>
    </header>
    <main>
        <div class="subTitle">
            <a class="item1" href="/Dashboard"><img src="/static/img/Seta esquerda.svg" alt="" style="height: 50px; width: 50px;"></a>
            <h1 class="item2">Perfil do Nutricionista</h1>
        </div>
        <div class="InfoMain">
            <div class="PerfilImg">
                <img src="/static/img/perfil.png" height="300" width="300">
            </div>
            <div class="InfoTexts">
                <div class="InfoTitle">
                    <h2>INFORMAÇÕES</h2>
                </div>
                <div class="InfoSubTexts">
                    <h3>NOME: XXXXXXXXXXXXXXXXXXXXXXXXXXXX</h3>
                    <h3>EMAIL: XXXXXXXXXXXXXXXXXXXXXXXXXXX</h3>
                    <h3>UNIDADE SESI: XXXXXXXXXXXXXXXXXXXX</h3>
                </div>
                <div class="DIV_FinalButton">
                    <button class="FinalButtonED" onclick=Perfil_nutri_FinalButton()><h3>EDITAR</h3></button>
                    <button class="FinalButton" onclick=Perfil_nutri_FinalButton()><h3>SAIR</h3></button>
                </div>
            </div>
            
        </div>
        
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
