<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='Set_Cardapio.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Set Cardapio Nutri</title>
</head>
<body>
    <div class="cabecalho">
        <a href="/Dashboard"><img src="/static/img/logo.png" class="logo"></a>
        <a href="/Perfil_nutricionista"><img src="/static/img/perfil.png" class="perfil"></a>
    </div>
    <div class="start_title">
        <a href="/Dashboard" style="text-decoration: none;">
            <button class="botao"></button>
        </a>
        <div class="second_title">
            <h2>DEFINIR O CARDÁPIO DA SEMANA</h2>
        </div>
        
    </div>
    <main class="container">
        <div class="upload-container">
            <input type="file" id="arquivo" name="arquivo" onchange="previewImage(event)" >
            <div class="image-preview" id="imagePreview"></div>
            <label for="arquivo" class="upload-label">ESCOLHER IMAGEM</label>
        </div>
        <div class="div_final_button">
            <input id="input_week" type='week' class="list" placeholder="ESCOLHA A SEMANA:" style="padding: 0px 10px 0px 5px;" min="2024-W03"></input>
            <input id="Submit_Set_Cardapio" class="final_button" type="submit" value="ENVIAR">
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/script_setCardapio.js') }}"></script>
</body>
