<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEFINIR HÓRARIO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='set_horario.css') }}">
</head>
<body>
    <header>
        <div class="cabecalho">
            <a href="/Dashboard"><img src="/static/img/logo.png" alt="" srcset="" class="logo"></a>
            <a href="/Perfil_nutricionista"><img src="/static/img/perfil.png" alt="" class="perfil"></a>
        </div>
    </header>
    <div class="botao">
        <button class="clicar" id="FUNDAMENTAL">FUNDAMENTAL 1</button>
        <button class="clicar" id="FUNDAMENTAL2">FUNDAMENTAL 2</button>
        <button class="clicar" id="MÉDIO">MÉDIO</button>
    </div>
    <script src="{{ url_for('static', filename='js/script_setHorario.js') }}"></script>
</body>
</html>