<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Tables.css') }}">
    <title>Tabelas</title>
</head>
<body>
    <div class="cabecalho">
        <a href="/Dashboard"><img src="/static/img/logo.png" class="logo"></a>
        <a href="/Perfil_nutricionista"><img src="/static/img/perfil.png" class="perfil"></a>
    </div>
    <div class="start">
        <a href="/Dashboard"><img src="/static/img/Seta esquerda.svg" alt="" style="width: 50px; height: 50px;"></a>
        <a href="/Salas"> <button class="start_button" style="border: 2px; border-style: solid;"><h1>ANALISAR POR SALA</h1></button></a>
    </div>
    
    <div class="Change_data">
        <button id="prev-day" class="normal"><img src="/static/img/Seta esquerda.svg" height="30px" width="30px"></button>
        <input type="text" id="date-input" placeholder="DD/MM/AAAA" readonly>
        <button id="next-day"class="normal"><img src="/static/img/Seta direita.svg" height="30px" width="30px"></button>
    </div>

    <div class="Table_title">
        <h2>REFEIÇÕES POR HORÁRIO CAFÉ DA MANHÃ</h2>
    </div>
    
    <div class="div_table">
        <table>
            <thead>
                <tr>
                    <th>HORÁRIO</th>
                    <th>VÃO COMER</th>
                    <th>NÃO VÃO COMER</th>
                    <th>NÃO RESPONDERAM</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>7:50</b></td>
                    <td>777</td>
                    <td>777</td>
                    <td>777</td>
                </tr>
                <tr>
                    <td><b>8:40</b></td>
                    <td>777</td>
                    <td>777</td>
                    <td>777</td>
                </tr>
                <tr>
                    <td><b>9:30</b></td>
                    <td>777</td>
                    <td>777</td>
                    <td>777</td>
                </tr>
                <tr>
                    <td><b>TOTAL</b></td>
                    <td>777</td>
                    <td>777</td>
                    <td>777</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="Table_title">
        <h2>REFEIÇÕES POR HORÁRIO ALMOÇO</h2>
    </div>
    <div class="div_table">
        <table>
            <thead>
                <tr>
                    <th>HORÁRIO</th>
                    <th>VÃO COMER</th>
                    <th>NÃO VÃO COMER</th>
                    <th>NÃO RESPONDERAM</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>10:40</b></td>
                    <td>777</td>
                    <td>777</td>
                    <td>777</td>
                </tr>
                <tr>
                    <td><b>11:30</b></td>
                    <td>777</td>
                    <td>777</td>
                    <td>777</td>
                </tr>
                <tr>
                    <td><b>12:15</b></td>
                    <td>777</td>
                    <td>777</td>
                    <td>777</td>
                </tr>
                <tr>
                    <td><b>TOTAL</b></td>
                    <td>777</td>
                    <td>777</td>
                    <td>777</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="Table_title">
        <h2>REFEIÇÕES POR HORÁRIO CAFÉ DA TARDE</h2>
    </div>
    <div class="div_table_final">
        <table>
            <thead>
                <tr>
                    <th>HORÁRIO</th>
                    <th>VÃO COMER</th>
                    <th>NÃO VÃO COMER</th>
                    <th>NÃO RESPONDERAM</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>14:00</b></td>
                    <td>777</td>
                    <td>777</td>
                    <td>777</td>
                </tr>
                <tr>
                    <td><b>14:40</b></td>
                    <td>777</td>
                    <td>777</td>
                    <td>777</td>
                </tr>
                <tr>
                    <td><b>14:45</b></td>
                    <td>777</td>
                    <td>777</td>
                    <td>777</td>
                </tr>
                <tr>
                    <td><b>15:10</b></td>
                    <td>777</td>
                    <td>777</td>
                    <td>777</td>
                </tr>
                <tr>
                    <td><b>TOTAL</b></td>
                    <td>777</td>
                    <td>777</td>
                    <td>777</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>